.brands {
  background-color: var(--color-light);
  padding: 50px 20px 50px 20px;

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__img {
    padding: 15px;
    flex-grow: 1;
    max-width: 120px;
  }
}
